html{
    background-color: black;
    color: whitesmoke;
}

.middle{
    margin-left: 25%;
}

h1{
    border-top-style:dotted;
    border-top-color: #800000;
    border-bottom-color: #4fe729;
    border-bottom-style: dotted;
    border-left-style: outset;
    
}

.dis{
    border-style: outset;
    border-color: greenyellow;
}

.carpıcı{
    font-size: 200%;
    font-style: italic ;
    background-color: rgb(0, 136, 255);
}
